body {
    //background-image: url('background.jpg');
    background-color: #202124;
    background-size: cover;
    overflow: hidden;
}

.solarSystem {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}


.star {

    position: relative;

    background-color: yellow;
    border-radius: 50%;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);


    box-shadow: 0px 0px 24px 5px rgba(255, 255, 0, 0.2), -14px -13px 35px 7px rgba(255, 179, 13, 0.24);

}

.orbit-line {
    position: absolute;


    border-radius: 50%;

    border: solid 1px rgba(255, 255, 255, 0.7);

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    &.transparent {
        border-color: transparent;
    }
}

.orbit {
    position: absolute;
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: left;
    align-items: center;

}


.planet {
    border-radius: 50%;

    background-color: rgba(255, 255, 255, 0.7);

    // left: 0;
    // top: 50%;
    // transform: translate(-50%, -50%);




    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    .planet-name {
        display: block;
        position: absolute;
        color: white;
        font-family: sans-serif;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        -webkit-transform-origin: center left;
        transform-origin: center left;
        top: 100%;
        text-align: center;

    }
}

@keyframes clockwise {
    100% {
        transform: rotate3d(0, 0, 1, 360deg);
    }
}

@keyframes counterclockwise {
    100% {
        transform: rotate3d(0, 0, 1, -360deg);
    }
}